body {
    background-color: #5F939A;
}

.container {
    background-color: #334257;
    position: absolute;
    width: 333px;
    height: 510px;
    margin: auto;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
}

#output {
    background-color: #E8F6EF;
    height: 75px;
    width: 326px;
    font-size: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 15px;
}

#cancel {
    background-color: #3498db;
    color: #fff;
    height: 74px;
    width: 332px;
    font-size: 32px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 15px;
}

.button {
    background: #3498db;
    width: 80px;
    height: 80px;
    padding: 10px;
    font-size: 29px;
    color: #fff;
    border-radius: 10%;
}

.button:hover {
    background: #3cb0fd;
}

#seven #four #one #zero {
    margin-left: 100px;
}